Source: steeve
Maintainer: Sviatoslav Abakumov <dust.harvesting@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), dh-python
Standards-Version: 3.9.1

Package: steeve
Architecture: all
Depends: ${python:Depends}, python-pkg-resources, python-click, stow
Description: Tiny GNU Stow–based package manager
 steeve is not a replacement for any full-fledged package manager like *dpkg* or
 *rpm*, but instead an addition, designed to handle manually built software and
 binary distributions. Instead of polluting ``/usr/local`` with binaries and
 libraries that aren't tracked by any package manager and thus cannot be safely
 removed or upgraded, *steeve* provides a structured approach that allows for
 managing multiple software versions in a matter of a command.
