Source: steeve
Section: python
Priority: extra
Maintainer: Sviatoslav Abakumov <dust.harvesting@gmail.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5

Package: steeve
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7 | python2.6, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, stow
Description: Tiny GNU Stow–based package manager
