#!/usr/bin/make -f

binary: wheels
	dh $@ --with python-virtualenv

%:
	dh $@ --with python-virtualenv

wheels: pin-requirements.txt
	pip wheel --wheel-dir ./wheels --find-links ./wheels -r pin-requirements.txt
